#DIV_1 {
  box-shadow: rgba(123, 123, 123, 0.5) 0 2px 6px 0;
  box-sizing: border-box;
  height: 550px;
  left: 0;
  /* position: fixed; */
  top: 0;
  width: 340px;
  background: #5f6568 none repeat scroll 0 0 / auto padding-box border-box;
  border-radius: 5px;
  font: 12px/18px 'open sans', Helvetica, Arial, sans-serif;
}

#DIV_2 {
  box-sizing: border-box;
  height: 39px;
  width: 340px;
  background: #283032 none repeat scroll 0 0 / auto padding-box border-box;
  border-radius: 5px 5px 0 0;
  padding: 2px 0 0;
}

#DIV_4 {
  box-sizing: border-box;
  color: #fff;
  float: left;
  height: 30px;
  text-align: left;
  white-space: nowrap;
  width: 230px;
  font: 14px/18px 'open sans', Helvetica, Arial, sans-serif;
  margin: 5px 0 0;
  overflow: hidden;
  padding: 4px 0 0 12px;
}

#DIV_20 {
  box-sizing: border-box;
  color: #fff;
  height: 41px;
  width: 340px;
  background: #3a3f41 none repeat scroll 0 0 / auto padding-box border-box;
  font: 12px/18px 'open sans', Helvetica, Arial, sans-serif;
  overflow: hidden;
  padding: 7px 12px 0;
}

#DIV_21 {
  box-sizing: border-box;
  float: left;
  height: 34px;
  text-align: center;
  width: 104px;
  background: #5f6568 none repeat scroll 0 0 / auto padding-box border-box;
  border-radius: 5px 5px 0 0;
  font: 13px/18px 'open sans', Helvetica, Arial, sans-serif;
  padding: 8px 0;
}

#DIV_22,
#DIV_23 {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.72);
  float: left;
  height: 34px;
  text-align: center;
  width: 104px;
  border: 0 none rgba(255, 255, 255, 0.72);
  border-radius: 5px 5px 0 0;
  font: 13px/18px 'open sans', Helvetica, Arial, sans-serif;
  padding: 8px 0;
}

#DIV_24 {
  height: 470px;
  left: 0;
  max-height: 470px;
  position: relative;
  width: 340px;
  background: #5f6568 none repeat scroll 0 0 / auto padding-box border-box;
  border-radius: 0 0 5px 5px;
  font: 12px/18px 'open sans', Helvetica, Arial, sans-serif;
}

#DIV_26 {
  height: 100%;
  width: 340px;
  font: 12px/18px 'open sans', Helvetica, Arial, sans-serif;
  padding: 15px 20px;
}

#DIV_27 {
  float: left;
  height: 30px;
  width: 299px;
  font: 12px/18px 'open sans', Helvetica, Arial, sans-serif;
}

#DIV_29 {
  color: #fff;
  float: left;
  height: 24px;
  inline-size: 125px;
  width: 125px;
  font: 12px/18px 'open sans', Helvetica, Arial, sans-serif;
  margin: 0 6px 0 0;
  overflow: hidden;
  padding: 6px 0 0;
}

#DIV_33 {
  box-sizing: border-box;
  color: #fff;
  height: 30px;
  width: 168px;
  background: #525759 none repeat scroll 0 0 / auto padding-box border-box;
  border-radius: 1px;
  font: 12px/18px 'open sans', Helvetica, Arial, sans-serif;
  overflow: hidden;
  padding: 6px 0 6px 7px;
}

#DIV_74 {
  float: left;
  height: 120px;
  width: 300px;
  font: 12px/18px 'open sans', Helvetica, Arial, sans-serif;
  padding: 10px 0 0;
}

#DIV_75 {
  color: #fff;
}

#DIV_76 {
  margin: 0 6px 0 0;
  padding: 6px 0 0;
}

#DIV_80 {
  box-sizing: border-box;
  height: 60px;
  inline-size: 300px;
  min-block-size: 60px;
  min-height: 60px;
  overflow-wrap: anywhere;
  perspective-origin: 150px 30px;
  position: relative;
  width: 300px;
  background: #525759 none repeat scroll 0 0 / auto padding-box border-box;
  border-radius: 1px;
  font: 12px/18px 'open sans', Helvetica, Arial, sans-serif;
  padding: 6px 4px 5px 8px;
}
